.useful-links {
    margin-bottom: 5px;
}

.collapse {
    width: auto;
    text-align: center;
}

.church-logo {
    max-width: 210px;
    height: auto;
}

.navbar-toggler {
    width: auto;
    height: auto;
}

#header-text-div {
    flex-direction: column;
}
#header-text-div-outer {
    flex-direction: row;
}

.navbar-toggler-icon {
    font-size: 45px;
}

.clicked-button {
    width: 200px;
}

.not-clicked-button {
    
}

footer {
    background-color: lightgray;
    border: 2px solid gray;
    width: 100%;
}

.home-footer {
    position: relative;
}

.mission-footer {
    position: relative;
}

.main {
    position: relative;
}

.page-header {
    margin-top: 200px;
}

.nav-item {
    font-size: 30px;
}

.header-text {
    padding-top: 17px;
    font-size: 35px;
}

@media screen and (max-width: 1000px) {
    /* .home-footer {
        position: absolute;
        bottom: 0px;
    }
    .main {
        position: absolute;
        bottom: 150px;
    } */
    .page-header {
        margin-top: 800px;
    }

}

@media screen and (max-width: 1000px) {
    /* .mission-footer {
        position: absolute;
        bottom: 0px;
    }
    .main {
        position: absolute;
        bottom: 150px;
    } */
}

@media screen and (max-width: 1350px) {
    .ward-mission {
        max-width: 100%;
    }
}

@media screen and (min-width: 1351px) {
    .ward-mission {
        min-width: 1250px;
    }
}

h4 {
    background-color: #006184;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

h1, h2, h3, h4, p, strong, a  {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    width: 80%; 
    height: auto;
    margin-left: 10%;
    color: white;
    background-color:darkcyan;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

a {
    color: black;
}

h1 {
    @media (max-width: 768px) {
        font-size: 25px;
    }
}

.churchLogo {
    @media (max-width: 768px) {
        opacity: 0;
        z-index: 0;
    }
}

.container {
    @media (max-width: 768px) {
        width: 80%;
    }
}

.containerContainer {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }
}

.navbar-collapse.in {
    display: block !important;
}